.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 50px);
    position: relative;

    &::after {
        content: "";
        width: 250px;
        height: 242px;
        background-size: 250px;
        position: absolute;
        background-image: url("../public/icons/planet.svg");
        background-repeat: no-repeat;
        left: 0;
        bottom: 120px;
        transform: rotate(-105deg);
    }

    &::before {
        content: "";
        width: 206px;
        height: 197px;
        position: absolute;
        background-image: url("../public/icons/planetblb.svg");
        background-repeat: no-repeat;
        transform: rotate(-61.767deg);
        right: -0;
        top: 60px;
    }

    @media(max-width: 1200px) {
        &::after {
            width: 240px;
            height: 230px;
            background-size: 240px;
        }

        &::before {
            content: "";
            width: 169px;
            height: 162px;
            background-size: 170px;
        }
    }

    @media(max-width: 900px) {
        &::after {
            width: 165px;
            height: 161px;
            background-size: 165px;
        }

        &::before {
            width: 130px;
            height: 126px;
            background-size: 130px;
        }
    }


    @media(max-width: 768px) {
        &::after {
            width: 130px;
            height: 127px;
            background-size: 130px;
        }

        &::before {
            width: 90px;
            height: 90px;
            background-size: 90px;
        }
    }

    @media(max-width: 630px) {
        min-height: calc(100vh - 120px);

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .btnToggle {
        display: block;
        margin: 0 auto;
        font-family: "ProstoOne";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: none;
        border: none;
        cursor: url("../public/icons/cursor-hover.svg"), auto;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;

    .logo {
        margin-bottom: 20px;
    }

    .title {
        margin: 0;
        margin-bottom: 55px;
        font-family: 'Limelight';
        font-style: normal;
        font-weight: 400;
        font-size: 124.179px;
        line-height: 151px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }


    @media(max-width: 1200px) {
        .title {
            font-size: 90px;
            margin-bottom: 15px;
        }

        .logo {
            margin-bottom: 0;
        }
    }

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 380px;

    .input {
        margin: 0;
        margin-bottom: 20px;
        padding: 22px 15px;
        width: 100%;
        border: none;
        font-family: 'ProstoOne';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        color: #9E9E9E;
        opacity: 0.9;

        &::placeholder {
            font-family: 'ProstoOne';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            text-transform: uppercase;
            color: #9E9E9E;
            opacity: 0.9;
        }
    }

    .submitBtn {
        padding: 22px 36px;
        margin-bottom: 30px;
        background-color: #3F3CE1;
        font-family: 'ProstoOne';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        cursor: url("../public/icons/cursor-hover.svg"), auto;
    }
}