.mainWrapper {
    width: 100%;
    // временно
    min-width: 1280px;
    height: 100vh;
    // временно
    min-height: 760px;
    position: relative;

    &::after {
        content: "";
        width: 401px;
        height: 411px;
        position: absolute;
        background-image: url("../public/icons/planetone.svg");
        background-repeat: no-repeat;
        left: 0;
        bottom: 0;
    }

    &::before {
        content: "";
        width: 271px;
        height: 274px;
        position: absolute;
        background-image: url("../public/icons/planettwo.svg");
        background-repeat: no-repeat;
        right: 0;
        top: 0;
    }
    
    .btnToggle {
        display: block;
        margin: 0 auto;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 380px;
    padding-top: 155px;

    &::before {
        content: "";
        width: 140px;
        height: 124px;
        position: absolute;
        background-image: url("../public/icons/stars1.svg");
        background-repeat: no-repeat;
        left: 107px;
        top: 59px;
    }

    &::after {
        content: "";
        width: 135px;
        height: 135px;
        position: absolute;
        background-image: url("../public/icons/stars1.svg");
        background-repeat: no-repeat;
        right: 107px;
        bottom: 59px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .title {
        margin: 0;
        margin-bottom: 55px;
        font-family: 'Limelight';
        font-style: normal;
        font-weight: 400;
        font-size: 124.179px;
        line-height: 151px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 380px;
}