.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 50px);
    position: relative;

    &::after {
        content: "";
        width: 250px;
        height: 242px;
        background-size: 250px;
        position: absolute;
        background-image: url("../public/icons/planet.svg");
        background-repeat: no-repeat;
        left: 0;
        bottom: 120px;
        transform: rotate(-105deg);
    }

    &::before {
        content: "";
        width: 206px;
        height: 197px;
        position: absolute;
        background-image: url("../public/icons/planetblb.svg");
        background-repeat: no-repeat;
        transform: rotate(-61.767deg);
        right: -0;
        top: 60px;
    }

    @media(max-width: 1200px) {
        &::after {
            width: 240px;
            height: 230px;
            background-size: 240px;
        }

        &::before {
            content: "";
            width: 169px;
            height: 162px;
            background-size: 170px;
        }
    }

    @media(max-width: 900px) {
        &::after {
            width: 165px;
            height: 161px;
            background-size: 165px;
        }

        &::before {
            width: 130px;
            height: 126px;
            background-size: 130px;
        }
    }


    @media(max-width: 768px) {
        &::after {
            width: 130px;
            height: 127px;
            background-size: 130px;
        }

        &::before {
            width: 90px;
            height: 90px;
            background-size: 90px;
        }
    }

    @media(max-width: 630px) {
        min-height: calc(100vh - 120px);

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;

    .logo {
        margin-bottom: 20px;
    }

    .title {
        margin: 0;
        margin-bottom: 55px;
        font-family: 'Limelight';
        font-style: normal;
        font-weight: 400;
        font-size: 124.179px;
        line-height: 151px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }


    @media(max-width: 1200px) {
        .title {
            font-size: 90px;
            margin-bottom: 15px;
        }

        .logo {
            margin-bottom: 0;
        }
    }

}

.audioWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 380px;

    @media(max-width: 630px) {
        width: 100%;
    }

    .btnSelect {
        display: none;
    }

    .labelSelect {
        display: inline-block;
        padding: 22px 36px;
        margin: 0;
        font-size: 20px;
        background-color: #3F3CE1;
        color: #ffffff;
        cursor: url("../public/icons/cursor-hover.svg"), auto;
    }

    @media(max-width: 1200px) {
        .labelSelect {
            font-size: 18px;
        }
    }

    .titleAudio {
        margin: 0;
        margin-bottom: 30px;
        font-family: 'ProstoOne';
        font-style: normal;
        font-weight: 400;
        font-size: 18.99px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.575em;
        text-transform: uppercase;
        color: #FFFFFF;
        word-wrap: break-word;
        max-width: 100%;

        @media(max-width: 630px) {
            letter-spacing: 3px;
        }

    }

    .audioSpeed {
        margin: 0;
        margin-bottom: 30px;
        font-family: 'ProstoOne';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #4D86F4;
    }

    .range {
        width: 100%;
        height: 5px;
        margin-bottom: 55px;
        -webkit-appearance: none;
        background: #64638F;
        background-image: linear-gradient(#3F3CE1, #3F3CE1);
        background-repeat: no-repeat;
        cursor: url("../public/icons/cursor-hover.svg"), auto;

        &:disabled {
            opacity: 0.6;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            background: #4D86F4;
            background-repeat: no-repeat;
            cursor: url("../public/icons/cursor-hover.svg"), auto;
        }

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }
    }

    .btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;        

        .playBtn,
        .downloadBtn,
        .backBtn {
            flex: 1 1;
            padding: 22px 36px;
            background-color: #3F3CE1;
            font-family: 'ProstoOne';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            cursor: url("../public/icons/cursor-hover.svg"), auto;

            &:disabled {
                opacity: 0.7;
            }
        }

        .backBtn {
            padding: 20px 32px;
            border: 2px solid #3F3CE1;
            background: transparent;
        }
    }


    @media(max-width: 1170px) {
        .btnWrapper {
            flex-direction: column;

            .playBtn,
            .downloadBtn,
            .backBtn {
                width: 210px;
            }
        }
    }

    @media(max-width: 630px) {
        .btnWrapper {
            flex-direction: column;

            .playBtn,
            .downloadBtn,
            .backBtn {
                width: 100%;
            }
        }
    }
}

.footer {
    width: 90%;
    margin: 0 auto;

    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        .item {
            width: 250px;
            text-align: center;
            font-family: 'ProstoOne';
            font-style: normal;
            font-weight: 400;
            font-size: 21.3833px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: url("../public/icons/cursor-hover.svg"), auto;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }

            .link {
                text-decoration: none;
                color: #FFFFFF;
                cursor: url("../public/icons/cursor-hover.svg"), auto;
            }
        }

        @media(max-width: 1200px) {
            .item {
                font-size: 18px;
            }
        }

        @media(max-width: 630px) {
            flex-direction: column;

            .item {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                font-size: 16px;

                &:first-child,
                &:last-child {
                    text-align: center;
                }
            }
        }
    }
}